/*-------------------------------*/
/*     глобальные настройки      */
/*-------------------------------*/

html {
  font-size: 9px; /* по умолчанию 16px, уменьшаем чуть-чуть */
}

@media (min-width: 1200px) {
  html {
    font-size: 13px;
  }
}


body {
  position: relative;
  overflow-x: hidden;
  background-color: #ffffffe3;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}



/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

/* Sidebar */
#sidebar-wrapper {
  width: 150px;
  flex-shrink: 0;
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 1000;
}

/* Скрытый сайдбар */
#wrapper.toggled #sidebar-wrapper {
  margin-left: -150px;
}

/* Скрыть скроллбар в сайдбаре */
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

/* Контент */
#page-content-wrapper {
  flex-grow: 1;
  margin-left: 140px;
  padding: 70px 30px 30px 30px;
  transition: all 0.3s ease;
  width: 100%;
  overflow-x: hidden;
}

/* Когда сайдбар скрыт — убираем отступ */
#wrapper.toggled #page-content-wrapper {
  margin-left: 0;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
padding: 0;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative; 
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(5n+1):before {
  background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(5n+2):before {
  background-color: #79aefe;   
}
.sidebar-nav li:nth-child(5n+3):before {
  background-color: #314190;   
}
.sidebar-nav li:nth-child(5n+4):before {
  background-color: #279636;   
}
.sidebar-nav li:nth-child(5n+5):before {
  background-color: #7d5d81;   
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-header {
  text-align: center;
  font-size: 20px;
  position: relative;
  width: 100%;
  display: inline-block;
}
.sidebar-brand {
  height: 65px;
  margin-left: 0px;
  position: relative;
  background:#212531;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
 padding-top: 1em;
}
.sidebar-brand a {
  color: #ddd;
}
.sidebar-brand a:hover {
  color: #fff;
  text-decoration: none;
}
.dropdown-header {
  text-align: center;
  font-size: 1em;
  color: #ddd;
  background:#212531;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}
.dropdown-menu.show {
  top: 0;
}
/*Fontawesome icons*/
a[href*="#telegram"]::before {
  content: "\f3fd"; /* Код символа FontAwesome для Telegram */
  font-family: 'Font Awesome 5 Free'; /* Указываем семейство шрифтов */
  font-weight: 900; /* Необходимый вес шрифта для Solid иконок */
  padding-right: 8px; /* Отступ справа */
}

a[href*="#vk"]::before {
  content: "\f189"; /* Код символа FontAwesome для VK */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-right: 8px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
position: fixed;
top: 20px;  
z-index: 999;
display: block;
width: 32px;
height: 32px;
margin-left: 15px;
background: transparent;
border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
outline: none;
}
.hamburger.is-closed:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
position: absolute;
left: 0;
height: 4px;
width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
top: 5px; 
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
top: 50%;
margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
bottom: 5px;  
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
top: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
bottom: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
top: 50%;
margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
-webkit-transform: rotate(45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
-webkit-transform: rotate(-45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}


/*------------Overlay start------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.8);
  z-index: 1;
}


  /* Определяем стили для контейнера, навбара и основного контента */

  .navbar {
    height: 100%;
}
.main-content {
    border-left: 1px solid #e5e5e5;
    padding: 40px;
}

/*------------Overlay end------------*/

