{% load static %}
<div class="modal fade" id="passwordChangeModal" tabindex="-1" aria-labelledby="passwordChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordChangeModalLabel">Смена пароля</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3 p-md-4 p-xl-5">
                <div class="text-center mb-3">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'myapp/Images/logo.png' %}" alt="Логотип" width="175" height="57">
                    </a>
                </div>
                <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Смена пароля</h2>
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-{% if message.tags == 'error' %}danger{% else %}success{% endif %} text-center">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <form method="post" action="{% url 'password_change' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <div class="row gy-2 overflow-hidden">
                        {% for field in form %}
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    {% if field.name == 'old_password' or field.name == 'new_password1' or field.name == 'new_password2' %}
                                        <input type="password" class="form-control{% if field.errors %} is-invalid{% endif %}" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}" placeholder="{{ field.label }}" required>
                                    {% else %}
                                        <input type="text" class="form-control{% if field.errors %} is-invalid{% endif %}" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}" placeholder="{{ field.label }}" required>
                                    {% endif %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-12">
                            <div class="d-grid my-3">
                                <button class="btn btn-primary btn-lg" type="submit">Сменить пароль</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>