{% load static %}
<div class="modal fade" id="passwordChangeDoneModal" tabindex="-1" aria-labelledby="passwordChangeDoneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordChangeDoneModalLabel">Пароль успешно изменён</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3 p-md-4 p-xl-5">
                <div class="text-center mb-3">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'myapp/Images/logo.png' %}" alt="Логотип" width="140" height="140">
                    </a>
                </div>
                <p class="text-center text-secondary">Ваш пароль был успешно изменён. Вы можете <a href="{% url 'telegram' %}">вернуться к работе</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>